body{
margin:0;
padding:0;
}

.grid{
    background-color: #dedfd8;
    height: calc(100vh - 2rem);
    padding: 1rem;
    display:grid;
    grid-template-areas: "header   header" 
                         "bad      empty"
                         "religion religion";
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr 3fr 3fr;
    grid-gap: 1rem;                            
}

.header{
    grid-area: header;
    background-color: #000;
}

.bad{
    grid-area: bad;
}

.empty{
    grid-area: empty;
}

.religion{
    grid-area: religion;
}

.bad, .empty, .religion{
    background-color: #f04011;
}