body{
margin:0;
padding:0;
}

/* 
background-color: #009bb1;
background-color: #ee8c1d;
background-color: #05368c;
background-color: #009135;
background-color: #e22961;
background-color: #5c66a5;
background-color: #fccc29;
background-color: #62b9e4;
background-color: #e1261c;
background-color: #95c022;
background-color: #911c7f; */
