body{
margin:0;
padding:0;
}

.grid{
    background-color: #ee2418;
    width: 30rem;
    display:grid;
    grid-template-rows: repeat(2,10rem) 5rem;
    grid-template-columns: repeat(3,10rem);
    
}

.grid-item{
        border-top: 5rem solid transparent;
    border-bottom: 5rem solid transparent;
}

.grid-item-1, .grid-item-5{

    border-left: 10rem solid #dcdfd7;

}

.grid-item:not(.grid-item-1):not(.grid-item-5){
   
    border-left: 10rem solid black;
}

.grid-item-2, .grid-item-5{
    position: relative;
    top: 50%;

}